<header
  class="flex items-center justify-between border-b px-2 py-2 bg-sidebar"
>
  <div class="flex gap-2 md:flex-1 ps-2">
    <button uiBtn variant="ghost" size="icon">
      <ng-icon ui name="lucideLayoutGrid" />
    </button>
    <a href="/" class="max-w-32 w-full flex items-center justify-center ms-4">
      <img class="w-fit" alt="Logo" src="/logo.png" />
    </a>
  </div>

  <div class="flex-1"></div>

  <div class="flex-1 flex justify-end space-x-4">
    <avatar-dropdown></avatar-dropdown>
  </div>
</header>
